html {
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: 'Courier New', monospace;
  color: #ffffff;
  padding: 10px;
}

.main {
    text-align: center;
}

.sub {
    display: inline-block;
    width: 45rem;
    margin-top: 8rem;
}

.term-entry {
    text-align: left;
}

.ascii {
    width: 20rem;
}

.info {
    width: 25rem;
    text-align: left;
}

.socials {
    text-align: left;
    margin-top: 0.5rem;
}
